@model IList<Post>

<h2>Lista de Post</h2>

@Html.ActionLink("Incluir Novo Post", "Novo", null, null, new { @class = "btn btn-primary"})

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Post</th>
            <th>Categoria</th>
            <th>Publicado?</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
        {
            <tr>
                <td>
                    <h4>@Html.ActionLink(p.Titulo, "Visualiza", new { id = p.Id })</h4>
                    <p>@p.Resumo</p>
                </td>
                
                <td>@p.Categoria</td>
                <td>
                    @if (p.Publicado)
                    {
                        @Html.Raw(string.Format("{0:dd/MM/yyyy}", p.DataPublicacao))
                    }
                    else
                    {
                        @Html.Raw("Não")
                    }
                </td>
                <td>
                    @Html.ActionLink("Remover", "RemovePost", new { id = p.Id })
                    @Html.ActionLink("Publicar", "PublicaPost", new { id = p.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
