<!DOCTYPE html>
<html>
<head>
    <title>Resenha Cultural</title>

    <link href="~/css/jquery-ui.css" rel="stylesheet" />

    @*importando o css e bootstrap*@
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/estilo.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_Cabecalho")

    <div class="container clearfix">
        <main>
            @RenderBody()
        </main>

        @Html.Partial("_Lateral")
    </div>


    @Html.Partial("_Rodape")


    @RenderSection("Scripts", false)
</body>
</html>